<div class="row" style="margin-top: 20px">
  <div class="col-md-12">
    <form [formGroup]=formConfiguracionRed>
      <div class="row">
        <div class="col-md-6">
          <mat-card>
            <label for="configuracionRed">Numero de centros radiales</label>
            <div class="form-group" style="text-align: center;">
              <mat-form-field class="example-full-width" appearance="legacy" aria-disabled="true">
                <input type="number" matInput placeholder="Numero de centros radiales"
                  formControlName="numeroCentrosRadiales" name="numeroCentrosRadiales" min="1"
                  (ngModelChange)="generarCentrosRadiales($event)" />
                <mat-icon matSuffix>layers</mat-icon>
              </mat-form-field>
            </div>
          </mat-card>
        </div>
        <div class="col-md-6" style="text-align: center;">
          <mat-card>
            <button mat-raised-button (click)="actualizarStepConfiguracionRed()" color="warn">
              <mat-icon matSuffix>delete</mat-icon> Borrar Configuración
            </button>
            <br><br>
            <button mat-raised-button (click)="reiniciarEntrenamiento()" color="rollback">
              <mat-icon matSuffix>restart_alt</mat-icon> Reiniciar
              Entrenamiento
            </button>
          </mat-card>
        </div>
      </div>
    </form>
  </div>

</div>
