<div class="cuerpo">
    <div class="container contenido" id="cuerpo">

        <h1 id="TituloRBF">
            <b>RNA - Función de base radial</b>
        </h1>

        <div id="TextoRBF">
            <p>
                Las redes de base radial son un tipo de redes de neuronas artificiales que calculan la salida de la
                función en función de la distancia a un punto denominado centro. Al igual que con los perceptrones
                multicapa, sirven como aproximadores universales.
            </p>
            <p>
                El aprendizaje consiste en la determinación de los centros, desviaciones y pesos de la capa oculta a la
                capa de salida. Como las capas de la red realizan diferentes tareas, se separarán los parámetros de la
                capa oculta de la capa de salida para optimizar el proceso. De esta forma, los centros y las
                desviaciones siguen un proceso guiado por una optimización en el espacio de entrada, mientras que los
                pesos siguen una optimización sobre la base de las salidas que se desean obtener.

                Los dos métodos de aprendizaje más utilizados son el método híbrido y el método totalmente supervisado.
            </p>
        </div>

        <br>

        <h2 id="TituloAprendizaje">
            <b>Características</b>
        </h2>

        <div id="TextoRBF">
            <p>
                <li>Las redes de base radial tienen sus orígenes a finales de los años 80.</li>
            </p>
            <p>
                <li>Son redes de tipo multicapa que tienen conexiones hacia delante y que solo tienen una capa oculta.
                    Mientras que las neuronas ocultas poseen carácter local, las neuronas de salida realizan una
                    combinación lineal de las activaciones de las neuronas ocultas.</li>
            </p>
            <p>
                <li>Este tipo de redes construyen aproximaciones que son combinaciones lineales de múltiples funciones
                    locales no lineales.</li>
            </p>
            <p>
                <li>Entre sus aplicaciones se encuentran análisis de series temporales, procesamiento de imágenes,
                    reconocimiento automático del habla, diagnósticos médicos, etc.</li>
            </p>
        </div>

        <br>

        <h2 id="TituloAprendizaje">
            <b>Arquitectura</b>
        </h2>

        <div id="TextoRBF">
            <p>Cada red de base radial tienen 3 capas diferentes en total:</p>
            <p>
                <li>Capa de entrada: Transmiten las señales de entrada a las neuronas ocultas sin realizar
                    procesamiento, es decir, las conexiones de la capa de entrada a la capa oculta no llevan pesos
                    asociados.</li>
            </p>
            <p>
                <li>Capa oculta: Realizan una transformación local y no lineal de dichas señales.</li>
            </p>
            <p>
                <li>Capa de salida: Realiza una combinación lineal de las activaciones de las neuronas ocultas.</li>
            </p>
        </div>
    </div>
</div>